@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0a0a0a;
  color: #e0e0e0;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars on the full-screen map */
  font-family: 'Inter', sans-serif;
}
