/* Custom Scrollbars Global */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 255, 170, 0.2);
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 255, 170, 0.5);
}

/* Specific Scroll Container for Watchlist */
#meme-sniper-mount {
    scrollbar-gutter: stable;
}